[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-java"]
	path = meta-java
	url = https://github.com/woglinde/meta-java.git
[submodule "meta-selinux"]
	path = meta-selinux
	url = git://git.yoctoproject.org/meta-selinux
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake.git
[submodule "meta-openxt"]
	path = meta-openxt
	url = https://github.com/dpquigl2/meta-openxt.git
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
